@model IEnumerable<Majorproject.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.ID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Projects -->
<div id="projects" class="filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">GALLERY</div>
                <h2>ALL IMAGES OF BEAUTIFUL HOTEL</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="grid">
                    <div class="element-item development">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Breakfast at Tapestry</span></div><img src="~/images/bot.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Three Bedroom Residence Apartment</span></div><img src="~/images/tbr.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design development marketing">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Regatta Room Dinner</span></div><img src="~/images/rrd.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design development marketing">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>One Bedroom Residence Room</span></div><img src="~/images/onebedr.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design development marketing seo">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Penthouse Dining Lounge</span></div><img src="~/images/pdl.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design marketing seo">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Penthouse Kitchen</span></div><img src="~/images/pk.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design marketing">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Facade</span></div><img src="~/images/f.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design marketing">
                        <a class="popup-with-move-anim"><div class="element-item-overlay"><span>Entrance</span></div><img src="~/images/entr.jpg" alt="alternative"></a>
                    </div>
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->